certifi
cffi
charset-normalizer
click
colorama
Flask
Flask-Login
Flask-WTF
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pycparser
requests
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
urllib3
Werkzeug
WTForms
zipp
